html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: Lunar Escape;
  color: #E5E7EB;
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #D94206;
  background: linear-gradient(to right, #D94206, #7DD9FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


h2 {
  color: #D95406;
  background: linear-gradient(to right, #D95406, #7DE3FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h3 {
  color: #D96506;
  background: linear-gradient(to right, #D96506, #7DEEFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h4 {
  color: #D97706;
  background: linear-gradient(to right, #D97706, #7DF9FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h5 {
  color: #D98906;
  background: linear-gradient(to right, #D98906, #7DFFFA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a:link {
  color: #D97706;
}

a:active {
  color: #C2410C;
}

a:visited {
  color: #754003;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: visible;
}

ul li {
  width: 100%;
}

ul li a, .dropdown-content a, [class^="subdown-content"] a {
  border-bottom: 3px solid #7DF9FF;
  border-right: 3px solid #7DF9FF;
}

ul li:last-child > a {
  border-bottom: none;
}

.dropdown-content > a:last-child,
.subdown-contentT1 > a:last-child,
.subdown-contentT2 > a:last-child,
.subdown-contentT3 > a:last-child {
  border-bottom: none;
}

ul li a, .dropbtn {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #111;
}

.dropbtn:visited {
  color: #D97706;
}

ul li a.active {
  background-color: #D97706;
  color: black;
}

.dropdown:hover .dropbtn.active {
  background-color: #A75C05;
}

ul li.dropdown {
  display: block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 100%;
  top: 0;
}

.dropdown-content a {
  color: #D97706;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.subbtnT1 {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active), .subdownT1:hover .subbtnT1 {
  background-color: #111;
}

.subbtnT1:visited {
  color: #D97706;
}

ul li.subdownT1 {
  display: block;
  position: relative;
}

.subdown-contentT1 {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  left: 100%;
  top: 0;
}

.subdown-contentT1 a {
  color: #D97706;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subdown-contentT1 a:hover {
  background-color: #f1f1f1;
}

.subdownT1:hover .subdown-contentT1 {
  display: block;
}

.subbtnT2 {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active), .subdownT2:hover .subbtnT2 {
  background-color: #111;
}

.subbtnT2:visited {
  color: #D97706;
}

ul li.subdownT2 {
  display: block;
  position: relative;
}

.subdown-contentT2 {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  left: 100%;
  top: 0;
}

.subdown-contentT2 a {
  color: #D97706;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subdown-contentT2 a:hover {
  background-color: #f1f1f1;
}

.subdownT2:hover .subdown-contentT2 {
  display: block;
}

.subbtnT3 {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active), .subdownT3:hover .subbtnT3 {
  background-color: #111;
}

.subbtnT3:visited {
  color: #D97706;
}

ul li.subdownT3 {
  display: block;
  position: relative;
}

.subdown-contentT3 {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
  left: 100%;
  top: 0;
}

.subdown-contentT3 a {
  color: #D97706;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subdown-contentT3 a:hover {
  background-color: #f1f1f1;
}

.subdownT3:hover .subdown-contentT3 {
  display: block;
}

ol li a, 
ol li a:visited {
  color: inherit;
}

ol li:has(a) {
  color: #D97706;
}

ol li:has(a)::marker { 
  color: #D97706; 
}

ol li.clicked {
  color: #754003;
}

ol li.clicked::marker {
  color: #754003;
}

/* Using the pseudo-element method to mimic list markers for <dt> */
dl.custom-list dt {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  color: #E5E7EB;
}

/* Specifically styling the marker color */
dl.custom-list dt::marker {
  color: #E5E7EB;
}
