html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: Lunar Escape;
  color: #E5E7EB;
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1, h2 {
  text-align: center;
}

a:link {
  color: #D97706;
}

a:active {
  color: #C2410C;
}

a:visited {
  color: #754003;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: visible;
}

ul li {
  border-bottom:3px solid #E5E7EB;
  width: 100%;
}

ul li:last-child {
  border-bottom: none;
}

ul li a, .dropbtn {
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #111;
}

.dropbtn:visited {
 color: #D97706;
}

ul li a.active {
  background-color: #D97706;
  color: black;
}

.dropdown:hover .dropbtn.active {
    background-color: #A75C05;
}

ul li.dropdown {
  display: block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 100%;
  top: 0;
}

.dropdown-content a {
  color: #D97706;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ol li a, 
ol li a:visited {
  color: inherit;
}

ol li:has(a) {
  color: #D97706;
}

ol li:has(a)::marker { 
  color: #D97706; 
}

ol li.clicked {
  color: #754003;
}

ol li.clicked::marker {
  color: #754003;
}
